.mt {
    margin-top: 80px;
}
.prokat_catalog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.information_block {
    margin-top: 25px;
}
.page_content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.prokat_block	{
	display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin: 20px;
	background-color: var(--color-gray);
    padding: 20px;
    border-radius: 30px;
}
.page_content{
	flex-direction: column;
	align-items: center;
}
.prokat_desc{
	padding: 10px;
}
.prokat_priсe{
	
	margin: 0px 10px 0px 10px;
}
.prokat_name{
	font-weight: 700;
	padding-top: 10px;
}
.prokat_priсe_block{
	font-weight: 700;
	width: 100%;
    display: flex;
	justify-content: center;
}
.fun_img_container {
    width: 260px;
    height: 200px;
    overflow: hidden;
    border-radius: 30px;
}
.fun_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}